*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*
#F8EE48 yellow
#FD7DD5 pink
#2245F9 blue
*/

@font-face {
    font-family: 'K2D';
    src: url("../fonts/K2D-Regular.ttf");
}

@font-face {
    font-family: 'Halant';
    src: url("../fonts/Halant-Regular.ttf");
}

h2 {
    font-family: K2D;
    font-size: 32px;
}

body {
    background-color: white;
}

.navbar {
    margin: auto;
    background-color: #DA64E4;
    text-align: center;
    justify-content: space-evenly;
    height: auto;
    padding: 5px;
}

li {
    display: inline-block;
}

.navbar a {
    text-align: center;
    padding: 20px;
    justify-content: space-evenly;
    font-size: 32px;
    font-family: K2D;
}

.logo img {
    display: block;
    height: 400px;
    margin: auto;
}

h1 {
    font-size: 40px;
}

#heroGrid {
    display: grid;
    height: 400px;
    width: 90%;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    grid-template-columns: 2fr 1fr 2fr;
    grid-template-areas: "about1 selfie about2";
    text-align: center;
    align-items: center;
    background-color: #E8E8E8;
    border-radius: 20px;
}

#heroGrid p {
    font-size: 24px;
    font-family: Halant;
    padding: 30px;
}

#about1 {
    grid-area: about1;
}

#about2 {
    grid-area: about2;
}

#aboutpic img {
    height: 250px;
}

footer {
    height: 100px;
    width: 100%;
    background-color: #E8BC4B;
    position: fixed;
    bottom: 0;
    left: 0;
}

.footNav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footNav img {
    padding: 10px;
    height: 50px;
}

.footNav a {
    font-family: K2D;
    font-size: 20px;
}

footer p {
    font-family: K2D;
    font-size: 20px;
}

.breakBar {
    height: 50px;
    background-color: #DA64E4;
    margin-bottom: 5px;
}

.breakBar h2 {
    text-align: center;
    align-self: center;
}

.skillsContainer {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 5px;
}

.skillCard {
    background-color: #e8e8e8;
    border-radius: 20px;
    align-content: center;
    width: 450px;
}

.skillCard img {
    display: block;
    margin: auto;
    height: 300px;
    padding: 40px;
    padding-bottom: 20px;
}

.skillCard h2 {
    text-align: center;
}

.skillCard p {
    font-family: Halant;
    text-align: center;
    font-size: 16px;
    padding: 5px 30px 10px;
}

.projectTile {
    display: grid;
    grid-template-areas:
    "a b b"
    "a c c"
    "a d d";
    grid-template-rows: 2fr 1fr 1fr;
    grid-template-columns: 40% 1fr 1fr;
    background-color: #E8E8E8;
    width: 80%;
    border-radius: 20px;
    margin: auto;
    padding: 10px;
}

.projectTile img {
    height: 200px;
    margin: auto;
    grid-area: a;
}

.projectTile h2 {
    padding-top: 25px;
    grid-column: 1;
    grid-row: 1 / 3;
    grid-area: b;
}

.projectTile p {
    font-family: Halant;
    font-size: 16px;
    grid-area: c;
}

.projectTile button {
    grid-area: d;
    width: 200px;
    margin-bottom: 20px;
}

#footerGap {
    height: 110px;
}